# 2. Data preparation

Create a python script that will convert the previously generated JSON files into flattened CSV files, for each of the three exercises above. Sample files will be available in the folder sample/data

### Output/Deliverables:
- One flattened CSV file for each of the entities (teams, players, games)

In [16]:
# Data processing
# ==============================================================================
import pandas as pd
import numpy as np
import json

# Display all columns
# ==============================================================================
pd.options.display.max_columns = None

In [17]:
# This function the entire file, add brackets [] to encapsulate the string and then load it as string with json.loads()
def read_json_file(file):
    
    with open(file, "r") as r:
        response = r.read()
        response = response.replace('\n', '')
        response = response.replace('}{', '},{')
        response = "[" + response + "]"
    return json.loads(response)

In [18]:
#The above code is creating a list of dictionaries and then converting it to a dataframe anda saving as a csv file.

def csv_file(open_file,csv_file_name):
   
    information=[]
    for call in open_file:
        for i in call["data"]:
            information.append(i)
            df = pd.DataFrame.from_dict(pd.json_normalize(information))
            df.to_csv("notebooks/"+ csv_file_name+".csv")
            
    return df

## 2.1 Teams

In [19]:

all_teams= read_json_file('notebooks/teams.json')

In [20]:
teams_csv = csv_file(all_teams,"teams")

In [21]:
teams_csv.head()

,id,abbreviation,city,conference,division,full_name,name
0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
1,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
2,3,BKN,Brooklyn,East,Atlantic,Brooklyn Nets,Nets
3,4,CHA,Charlotte,East,Southeast,Charlotte Hornets,Hornets
4,5,CHI,Chicago,East,Central,Chicago Bulls,Bulls

In [22]:
teams_csv.shape

(45, 7)

## 2.2 Games

In [23]:
all_games= read_json_file('notebooks/games.json')

In [24]:
games_csv = csv_file(all_games,"games")

In [25]:
games_csv.head()

,id,date,home_team_score,period,postseason,season,status,time,visitor_team_score,home_team.id,home_team.abbreviation,home_team.city,home_team.conference,home_team.division,home_team.full_name,home_team.name,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name
0,1164,1991-11-08T00:00:00.000Z,107,4,False,1991,Final,,101,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,Spurs,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cavaliers
1,1165,1991-11-09T00:00:00.000Z,118,4,False,1991,Final,,111,21,OKC,Oklahoma City,West,Northwest,Oklahoma City Thunder,Thunder,12,IND,Indiana,East,Central,Indiana Pacers,Pacers
2,1166,1992-04-15T00:00:00.000Z,95,4,False,1991,Final,,94,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks,20,NYK,New York,East,Atlantic,New York Knicks,Knicks
3,1167,1992-04-16T00:00:00.000Z,96,4,False,1991,Final,,93,13,LAC,LA,West,Pacific,LA Clippers,Clippers,18,MIN,Minnesota,West,Northwest,Minnesota Timberwolves,Timberwolves
4,1168,1992-04-17T00:00:00.000Z,130,4,False,1991,Final,,106,21,OKC,Oklahoma City,West,Northwest,Oklahoma City Thunder,Thunder,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings

In [26]:
games_csv.shape

(200, 23)

## 2.3 Players

In [27]:
all_players= read_json_file('notebooks/players.json')

In [28]:
players_csv = csv_file(all_players,"players")

In [29]:
players_csv.tail()

,id,first_name,height_feet,height_inches,last_name,position,weight_pounds,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name
195,668,Robert,NaN,NaN,Pack,,NaN,25,POR,Portland,West,Northwest,Portland Trail Blazers,Trail Blazers
196,669,John,NaN,NaN,Bagley,,NaN,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
197,670,Rick,NaN,NaN,Fox,,NaN,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
198,671,Larry,NaN,NaN,Johnson,,NaN,4,CHA,Charlotte,East,Southeast,Charlotte Hornets,Hornets
199,672,Alexander,NaN,NaN,Volkov,,NaN,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks

In [30]:
players_csv.shape

(200, 14)