# 2. Data preparation

Create a python script that will convert the previously generated JSON files into flattened CSV files, for each of the three exercises above. Sample files will be available in the folder sample/data

### Output/Deliverables:
- One flattened CSV file for each of the entities (teams, players, games)

In [ ]:
# INSTALL LIBRARIES
# ==============================================================================
# !pip install pandas
# !pip install numpy
# !pip install json

In [2]:
# IMPORT LIBRARIES

# Data processing
# ==============================================================================
import pandas as pd
import numpy as np
import json

# Display all columns
# ==============================================================================
pd.options.display.max_columns = None

In [3]:
# This function reads a JSON file, encapsulates the string with brackets [], replaces any new line characters with an empty string, and replaces any instances of }{ with },{ to ensure that the file is in a valid JSON format. Finally, it loads the modified string as a JSON object using the json.loads() method and returns the resulting object.
def read_json_file(file): #`file`is the name of the JSON file
    
    with open(file, "r") as r:
        response = r.read()
        response = response.replace('\n', '')
        response = response.replace('}{', '},{')
        response = "[" + response + "]"
    return json.loads(response)

In [4]:
#The above code is creating a list of dictionaries and then converting it to a dataframe and saving as a csv file.
def csv_file(open_file,ubi,csv_file_name): # `open_file` is the result of applying the read_json_file, `ubi` is the name in string of the folder where we want to save the file, `csv_file_name` is the name of the CSV_file, must be a string.
   
    information=[]
    for call in open_file:
        for i in call["data"]:
            information.append(i)
            df = pd.DataFrame.from_dict(pd.json_normalize(information))
    df.to_csv(ubi+ csv_file_name+".csv")
            
    return df

## 2.1 Teams

In [6]:

all_teams= read_json_file('../data/teams/teams.json')

In [10]:
teams_csv = csv_file(all_teams,"../data/teams/","teams")

In [11]:
teams_csv.tail()

,id,abbreviation,city,conference,division,full_name,name
40,47,AND,,,,Anderson Packers,Anderson Packers
41,48,WAT,,,,Waterloo Hawks,Waterloo Hawks
42,49,INO,,,,Indianapolis Olympians,Indianapolis Olympians
43,50,DN,,,,Denver Nuggets,Denver Nuggets
44,51,SHE,,,,Sheboygan Redskins,Sheboygan Redskins

In [12]:
teams_csv.columns

Index(['id', 'abbreviation', 'city', 'conference', 'division', 'full_name',
       'name'],
      dtype='object')

In [13]:
teams_csv.shape

(45, 7)

## 2.2 Games

In [15]:
all_games= read_json_file('../data/games/games.json')

In [16]:
games_csv = csv_file(all_games,"../data/games/","games")

In [17]:
games_csv.tail()

,id,date,home_team_score,period,postseason,season,status,time,visitor_team_score,home_team.id,home_team.abbreviation,home_team.city,home_team.conference,home_team.division,home_team.full_name,home_team.name,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name
1175,8518,1992-04-24T00:00:00.000Z,113,4,True,1991,Final,,94,5,CHI,Chicago,East,Central,Chicago Bulls,Bulls,16,MIA,Miami,East,Southeast,Miami Heat,Heat
1176,8519,1992-04-25T00:00:00.000Z,115,4,True,1991,Final,,101,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors,21,OKC,Oklahoma City,West,Northwest,Oklahoma City Thunder,Thunder
1177,8520,1992-04-26T00:00:00.000Z,88,4,True,1991,Final,,89,20,NYK,New York,East,Atlantic,New York Knicks,Knicks,9,DET,Detroit,East,Central,Detroit Pistons,Pistons
1178,8521,1992-04-28T00:00:00.000Z,98,4,True,1991,Final,,88,13,LAC,LA,West,Pacific,LA Clippers,Clippers,29,UTA,Utah,West,Northwest,Utah Jazz,Jazz
1179,8522,1992-04-29T00:00:00.000Z,121,4,True,1991,Final,,119,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers,25,POR,Portland,West,Northwest,Portland Trail Blazers,Trail Blazers

In [18]:
games_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1180 entries, 0 to 1179
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1180 non-null   int64
 1   date                       1180 non-null   object
 2   home_team_score            1180 non-null   int64
 3   period                     1180 non-null   int64
 4   postseason                 1180 non-null   bool
 5   season                     1180 non-null   int64
 6   status                     1180 non-null   object
 7   time                       1180 non-null   object
 8   visitor_team_score         1180 non-null   int64
 9   home_team.id               1180 non-null   int64
 10  home_team.abbreviation     1180 non-null   object
 11  home_team.city             1180 non-null   object
 12  home_team.conference       1180 non-null   object
 13  home_team.division         1180 non-null   object
 14  home_team.full_name        1180 non-null   object
 15  home_team.name             1180 non-null   object
 16  visitor_team.id            1180 non-null   int64
 17  visitor_team.abbreviation  1180 non-null   object
 18  visitor_team.city          1180 non-null   object
 19  visitor_team.conference    1180 non-null   object
 20  visitor_team.division      1180 non-null   object
 21  visitor_team.full_name     1180 non-null   object
 22  visitor_team.name          1180 non-null   object
dtypes: bool(1), int64(7), object(15)
memory usage: 204.1+ KB

In [19]:
games_csv.columns

Index(['id', 'date', 'home_team_score', 'period', 'postseason', 'season',
       'status', 'time', 'visitor_team_score', 'home_team.id',
       'home_team.abbreviation', 'home_team.city', 'home_team.conference',
       'home_team.division', 'home_team.full_name', 'home_team.name',
       'visitor_team.id', 'visitor_team.abbreviation', 'visitor_team.city',
       'visitor_team.conference', 'visitor_team.division',
       'visitor_team.full_name', 'visitor_team.name'],
      dtype='object')

In [20]:
games_csv.tail()

,id,date,home_team_score,period,postseason,season,status,time,visitor_team_score,home_team.id,home_team.abbreviation,home_team.city,home_team.conference,home_team.division,home_team.full_name,home_team.name,visitor_team.id,visitor_team.abbreviation,visitor_team.city,visitor_team.conference,visitor_team.division,visitor_team.full_name,visitor_team.name
1175,8518,1992-04-24T00:00:00.000Z,113,4,True,1991,Final,,94,5,CHI,Chicago,East,Central,Chicago Bulls,Bulls,16,MIA,Miami,East,Southeast,Miami Heat,Heat
1176,8519,1992-04-25T00:00:00.000Z,115,4,True,1991,Final,,101,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors,21,OKC,Oklahoma City,West,Northwest,Oklahoma City Thunder,Thunder
1177,8520,1992-04-26T00:00:00.000Z,88,4,True,1991,Final,,89,20,NYK,New York,East,Atlantic,New York Knicks,Knicks,9,DET,Detroit,East,Central,Detroit Pistons,Pistons
1178,8521,1992-04-28T00:00:00.000Z,98,4,True,1991,Final,,88,13,LAC,LA,West,Pacific,LA Clippers,Clippers,29,UTA,Utah,West,Northwest,Utah Jazz,Jazz
1179,8522,1992-04-29T00:00:00.000Z,121,4,True,1991,Final,,119,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers,25,POR,Portland,West,Northwest,Portland Trail Blazers,Trail Blazers

In [21]:
games_csv.shape

(1180, 23)

## 2.3 Players

In [22]:
all_players= read_json_file('../data/players/players.json')

In [14]:
players_csv = csv_file(all_players,"../data/players/","players")

In [15]:
players_csv.head()

,id,first_name,height_feet,height_inches,last_name,position,weight_pounds,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name
0,14,Ike,NaN,NaN,Anigbogu,C,NaN,12,IND,Indiana,East,Central,Indiana Pacers,Pacers
1,25,Ron,NaN,NaN,Baker,G,NaN,20,NYK,New York,East,Atlantic,New York Knicks,Knicks
2,47,Jabari,NaN,NaN,Bird,G,NaN,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
3,67,MarShon,NaN,NaN,Brooks,G,NaN,15,MEM,Memphis,West,Southwest,Memphis Grizzlies,Grizzlies
4,71,Lorenzo,NaN,NaN,Brown,G,NaN,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors

In [16]:
players_csv.tail()

,id,first_name,height_feet,height_inches,last_name,position,weight_pounds,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name
5125,46413078,Kim,NaN,NaN,Anderson,,NaN,25,POR,Portland,West,Northwest,Portland Trail Blazers,Trail Blazers
5126,38017736,Cole,NaN,NaN,Swider,F,NaN,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
5127,38017737,Trevor,NaN,NaN,Hudgins,G,NaN,11,HOU,Houston,West,Southwest,Houston Rockets,Rockets
5128,38017739,Simone,NaN,NaN,Fontecchio,F,NaN,29,UTA,Utah,West,Northwest,Utah Jazz,Jazz
5129,43516144,Donovan,NaN,NaN,Williams,G,NaN,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks

In [26]:
players_csv.shape

(5130, 14)

In [18]:
players_csv.columns

Index(['id', 'first_name', 'height_feet', 'height_inches', 'last_name',
       'position', 'weight_pounds', 'team.id', 'team.abbreviation',
       'team.city', 'team.conference', 'team.division', 'team.full_name',
       'team.name'],
      dtype='object')

In [19]:
players_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5130 entries, 0 to 5129
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5130 non-null   int64
 1   first_name         5130 non-null   object
 2   height_feet        478 non-null    float64
 3   height_inches      478 non-null    float64
 4   last_name          5130 non-null   object
 5   position           5130 non-null   object
 6   weight_pounds      478 non-null    float64
 7   team.id            5130 non-null   int64
 8   team.abbreviation  5130 non-null   object
 9   team.city          5130 non-null   object
 10  team.conference    5130 non-null   object
 11  team.division      5130 non-null   object
 12  team.full_name     5130 non-null   object
 13  team.name          5130 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 561.2+ KB